---
layout: page
title: Meet The Team
permalink: /meet_the_team/
---
<h4>
    Meet all the people behind the creation of each new issue. You will find us divided into four different subteams: graphic editors, writers, proofreaders and marketing team members. Find more information about each sub-team here: 
</h4>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/hoverimage.js"></script>
<hr class="space-1">
<div class="text-center">
    <h5>
        Graphic Editorial Team
    </h5>
    <div class="founder-centered justify-content-around flex-wrap mx-5">
    {% for team in site.teams %}
    {% if team.team == "Graphic Editorial Team" %}
    <div id="{{team.ref_id}}" class="team-display" style="background-image: url('/{{team.image}}');" onmouseenter="teamContent(this,true);" onmouseleave="teamContent(this,false);">
        <div class="team-content my-1 d-flex flex-column">
            <br>
            <div >
                <p class="font-weight-bold member-title">
                    {{team.name}}
                </p>
                  <p class="font-weight-bold">{{team.role}}</p>
            </div>
            <hr class="w-75">
            <p>{{team.statement}}</p>
        </div>
        <br>
    </div>
    <br>
    {% endif %}
    {% endfor %}
    </div>
    <hr>
    <h5>
        Writers
    </h5>
    <div class="founder-centered justify-content-around flex-wrap mx-5">
    {% for team in site.teams %}
    {% if team.team == "Writers" %}
        
    <div id="{{team.ref_id}}" class="team-display" style="background-image: url('/{{team.image}}');" onmouseenter="teamContent(this,true);" onmouseleave="teamContent(this,false);">
        <div class="team-content my-1 d-flex flex-column">
            <br>
            <div >
                <p class="font-weight-bold member-title">
                    {{team.name}}
                </p>
                  <p class="font-weight-bold">{{team.role}}</p>
            </div>
            <hr class="w-75">
            <p>{{team.statement}}</p>
        </div>
        <br>
    </div>
    <br>
    {% endif %}
    {% endfor %}
    </div>
</div>
