---
layout: page
title: Meet The Team
permalink: /meet_the_team/
---
<h4>
    Meet all the people behind the creation of each new issue. You will find us divided into four different subteams: graphic editors, writers, proofreaders and marketing team members. Find more information about each sub-team here: 
</h4>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/hoverimage.js"></script>
<hr class="space-1">
<hr class="w-75">
{% assign people_grouped_by_team = site.teams | group_by: "team" %}
{% for subteam in people_grouped_by_team %}
<div class="text-center">
    <h5>
        {{ subteam.name }}
    </h5>
    <div class="founder-centered justify-content-around flex-wrap mx-5">
    {% for people in subteam.items %}
        <div id="{{people.ref_id}}" class="team-display my-2" style="background-image: url('/{{people.image}}');" onmouseenter="teamContent(this,true);" onmouseleave="teamContent(this,false);">
            <div class="team-content my-1 d-flex flex-column">
                <br>
                <div >
                    <p class="font-weight-bold member-title">
                        {{people.name}}
                    </p>
                    <p class="font-weight-bold">{{people.role}}</p>
                </div>
                <hr class="w-75">
                <p>{{people.statement}}</p>
                <div class="d-flex flex-wrap justify-content-around">
                    {% if people.linkedin %}
                    <a href="https://www.linkedin.com/in/{{ people.linkedin }}">
                        <i class="ti-linkedin person-link"></i>
                    </a>
                    {% endif %}
                    {% if people.instagram %}
                    <a href="https://www.instagram.com/{{ people.instagram }}">
                        <i class="ti-instagram person-link"></i>
                    </a>
                    {% endif %}
                    {% if people.website %}
                    <a href="{{ people.website }}">
                        <i class="ti-link person-link"></i>
                    </a>
                    {% endif %}
                </div>
            </div>
            <br>
        </div>
    {% endfor %}
    </div>
</div>
<hr class="w-75">
<hr class="space-1">
{% endfor %}
